<div class="card-toolbar row">

    <ul class="toolbar-toggle-menu pagination justify-content-start col-md-4">
        <li>
            <mat-button-toggle-group [(value)]="toggleListValueByid" #group="matButtonToggleGroup">
                <mat-button-toggle *ngFor="let item of toggleListOptions;" (change)="selectionChanged($event)"
                    [value]="item.id">
                    <mat-icon [ngClass]="'fas fa-' + item.icon + ' mr-2'"></mat-icon> {{item.value}}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </li>
    </ul>

    <div class="card-toolbar-justify col-md-8">
        <mat-menu #itemMenu="matMenu">
            <button mat-menu-item matTooltip="{{mitems.desc}}"
                *ngFor="let mitems of MenuTools">{{mitems.title}}</button>
        </mat-menu>


        <button mat-button class="first-child" [matMenuTriggerFor]="itemMenu">
            <mat-icon>more_vert</mat-icon>
            Menu
            <mat-icon>arrow_drop_down</mat-icon>
        </button>

        <!-- <mat-menu #actionMenu="matMenu">
        <button mat-menu-item matTooltip="{{mitems.desc}}"
            *ngFor="let mitems of ActionBtn">{{mitems.title}}</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="actionMenu">
        <mat-icon>menu</mat-icon>
        Actions
        <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <button mat-button>
        <mat-icon>add</mat-icon>
        Add Item
    </button>

    <button mat-button>
        <mat-icon>filter_list</mat-icon>
        Filters
    </button>

    <button mat-button>
        <i class="fa fa-tags" aria-hidden="true"></i>
        Tags
        <mat-icon>arrow_drop_down</mat-icon>
    </button> -->

        <button mat-button [matMenuTriggerFor]="columnsMenu">
            <mat-icon>view_week</mat-icon>
            Columns
        </button>

        <mat-menu restoreFocus="true" #columnsMenu="matMenu">
            <li *ngFor="let item of btnCheckboxCol" mat-menu-item role="menuitemcheckbox" class="">
                <mat-checkbox [(ngModel)]="item.checked" (ngModelChange)="setTableColumns(item)">{{item.tbcolumn}}
                </mat-checkbox>
            </li>
        </mat-menu>
    </div>


</div>

<div class="card-table mat-elevation-z0 course">


    <div class="card-extra-toolbar row">
        <mat-form-field class="col-md-4">
            <span class="card-table-search-icon" mat-button matPrefix mat-icon-button aria-label="Search"
                (click)="search.value=''">
                <mat-icon>search</mat-icon>
            </span>
            <!-- (keyup)="applyFilter($event.target.value)" -->
            <input matInput #search placeholder="Search..">
            <button mat-button *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear" (click)="search.value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-paginator class="col-md-8" [length]="resultsLength" [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> <!--  -->
    </div>

    <table mat-table [dataSource]="data" matSort matSortActive="_id" matSortDirection="asc" matSortDisableClear>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header># Κωδικός</th>
            <td mat-cell *matCellDef="let element">{{element._id}}</td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="avatar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Εικόνα </th>
            <td class="td-image" mat-cell *matCellDef="let el"> <img title="{{el.avatar.file.name}}"
                    src="{{el.avatar.src}}" class="rounded float-left" alt="{{el.avatar.file.name}}">
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Τίτλος </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- bookcase Column -->
        <ng-container matColumnDef="bookcase">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Θέση </th>
            <td mat-cell *matCellDef="let element"> {{element.bookcase}} </td>
        </ng-container>

        <!-- barcode Column -->
        <!-- <ng-container matColumnDef="barcode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Barcode </th>
            <td mat-cell *matCellDef="let element"> {{element.barcode | number: '12.0'}} </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="onRowClicked(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="spinner-container" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
</div>