.toolbar-toggle-menu {
  margin-bottom: 10px;
}
.spinner-container {
  position: relative;
  width: 300px;
  height: 1px;
  display: initial;
  bottom: 100px;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}

.description-cell {
  text-align: left;
  margin: 10px auto;
}

.duration-cell {
  text-align: center;
}

.duration-cell mat-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

#letter-range-holder {
  min-height: 20px;
  padding-bottom: 15px;
  width: 100%;
}

#letter_range {
  padding-bottom: 0;
  text-align: center;
  font-size: 14px;
  color: #666;
  margin: auto;
}

#letter_range .active {
  font-weight: 700;
}

#letter_range #all {
  width: 40px;
}

.letter {
  cursor: pointer;
  width: 25px;
  text-align: center;
  display: inline-block;

  &:hover {
    color: #ccc;
  }
}
