<div class="row">
    <div class="col-xs-12 col-md-12">

        <div class="card">
            <div class="card-header">
                
                <h5> Orders Panel </h5>
                <i class="icon-drawer"></i>
                <div class="card-header-tabs">

                    <nav mat-tab-nav-bar (wheel)="scrollTabs($event)" #tabGroup>
                        <a mat-tab-link *ngFor="let invtab of InvTabs$ | async"
                            (click)="activeLink = invtab.id"
                            [active]="rla.isActive"
                            [routerLink]="['/orders', invtab.id]" 
                            routerLinkActive
                            
                            #rla="routerLinkActive">
                                    <mat-icon class="mat-tab-icon" [ngClass]="invtab.id==='receive' ? 'card-tab-icon-fix' : ''">{{invtab.icon}}</mat-icon>
                                    {{invtab.name}}
                        </a>
                    </nav>
                </div>
            </div>
            <div class="card-body">
                <div [@routeAnimation]="getAnimationData(routerOutlet)">
                  <router-outlet #routerOutlet="outlet"></router-outlet>
                </div>
            </div>
        </div>
         
    </div>
</div>