.form-control {
    border: 1px solid #c2cfd66b;
    border-radius: 2px;;
    &:focus {
        color: #3e515b;
        background-color: #fff;
        border-color: #8ad4ee;
        outline: 0;
        box-shadow: 0 0 0 0.07rem rgba(32, 168, 216, 0.25);
    }
}