<form name="subscribe" #subscribe id="subscribe_frm">

    <div class="form-group col-md-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <!-- Upload Image -->
                <button class="btn btn-primary" mat-button *ngIf="upload" type="button" id="inputGroupFileAddon03">
                    <i class="fas fa-file-upload fa-lg"></i>
                    Ανέβασμα</button>
            </div>

            <div class="custom-file">
                <!-- Select File -->
                <input #myImage accept="image/gif, image/jpeg, image/png" type="file" class="custom-file-input"
                    id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                <label class="custom-file-label"
                    for="inputGroupFile03">{{file ? file.name : 'επιλέξτε εδώ μια εικόνα' }}</label>
            </div>
            <!-- <button [formControl]="remove">Διαγραφή</button> -->
        </div>
    </div>

</form>


<!-- 
<mat-spinner
    [value]="progress">
</mat-spinner> -->