<header class="app-header navbar fixed-top navbar-expand-lg navbar-dark bg-indigo">
  <!-- app-header  -->

  <a class="mat-18 navbar-brand"><strong></strong></a>

  <a class="drop-navmenu d-md-down-none" mat-button appSidebarToggler>
    <mat-icon class="mat-18" color="warn">menu</mat-icon>
  </a>
  <button type="button" mat-button class="navbar-toggler" appMobileSidebarToggler>
    <mat-icon class="mat-18" color="warn">menu</mat-icon>
  </button>

  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item active px-1">
      <a mat-button class="mat-18 nav-link" href="/">Ταμπλο</a>
    </li>
    <li class="nav-item px-1">
      <a mat-button class="mat-18 nav-link" href="#">Χρηστες</a>
    </li>
    <li class="nav-item px-1">
      <a mat-button class="mat-18 nav-link" href="#">Ρυθμισεις</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-list"></i></a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-location-pin"></i></a>
    </li> -->
    <li class="nav-item d-md-down-none" *ngIf="userlibName && userlibName._id && userlibName._id.length>0">
      <h4 style="margin-bottom: 0;">
        <a style="font-weight: inherit;" [routerLink]="" class="btn btn-light badge badge-pill
          badge-bar">{{userlibName.name}}
          <mat-icon fontSet="fas" svgIcon="userlib" fontIcon="fa-"></mat-icon>
        </a>
      </h4>
    </li>
    <li class="nav-item dropdown d-inline-block" placement="bottom right" ngbDropdown>
      <a ngbDropdownToggle class="nav-link" data-toggle="dropdown" id="dropdownMenuAvatarLink" href="#" role="button"
        aria-haspopup="true" aria-expanded="false" (click)="false">
        <img src="assets/img/codepics/profilebook.jpg " class="img-avatar" alt="admin@bootstrapmaster.com" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAvatarLink" ngbDropdownMenu>
        <!-- <div class="dropdown-header text-center"><strong>Account</strong></div> -->
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a> -->
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a> -->
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a> -->
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a> -->
        <!-- <div class="dropdown-header text-center"><strong>Settings</strong></div> -->
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a> -->
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a> -->
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-dark">42</span></a> -->
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a> -->
        <!-- <div class="divider"></div> -->
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a> -->
        <a class="btn btn-link dropdown-item" (click)="logout()"><i class="fa fa-lock"></i>Αποσύνδεση</a>
      </div>
    </li>

    <!-- <button type="button" mat-icon-button class="d-md-down-none" appAsideMenuToggler>
      <mat-icon class="mat-18" color="accent">settings</mat-icon>
    </button> -->

  </ul>
</header>