.mat-container {
  display: flex;
  flex-direction: column;

  & > * {
    width: 100%;
  }
}

.omat-spinner {
  position: absolute;
  top: 36px;
  right: 10px;
}

.dimensiongram {
  position: relative;
  top: 35px;
  display: inline-block;
}

.divider-right {
  border-right: 1px solid;
  border-width: 0.25rem;
  border-color: #bcbcbc;
}

.btn-remove {
  position: absolute;
  top: 0px;
  // display: none;
  background-color: rgba(185, 185, 185, 0.2);
  right: 8px;
}

$BrandSecondaryColor: #c8ced3 !default;
$BrandDangerColor: #f86c6b !default;
$BrandLightColor: #f0f3f5 !default;
$BrandGreenTransLightColor: #049f2ceb !default;
$SliteGray: slategray !default;
$Gray200Color: #f0f3f5 !default;

$desktop: 992px;

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

.masthead {
  @include desktop {
    height: 100vh;
    padding: 0;
  }

  h1 {
    font-family: "Varela Round";
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: linear-gradient(
      to bottom,
      rgba(22, 22, 22, 0.3) 0,
      rgba(22, 22, 22, 0.7) 75%,
      #161616 100%
    ); /* -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); */
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @include desktop {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
  }

  h2 {
    max-width: 20rem;
    font-size: 1rem;

    @include desktop {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }

  a {
    position: relative;
    left: 14px;
    bottom: 5px;
    display: inline-block;
  }

  .mat-mdc-form-field {
    width: 300px;
  }
}

.switch.switch-text .switch-input:checked ~ .switch-handle {
  left: 74%;
}
.switch.switch-text .switch-label::after,
.switch.switch-text .switch-label::before {
  top: 48%;
  width: 80%;
}

.switch.switch-text {
  width: 91px;
  height: 24px;
}
.switch.switch-text .switch-handle {
  left: 3px;
}

.wfield {
  width: 80%;
}
/* .mat-form-field .mat-input-element {
  color: $BrandLightColor;
  font-size: 19px;
}
 .mat-form-field-infix {
  font-size: 19px;
}
 .mat-form-field .mat-form-field-label {
  color: $BrandLightColor !important;
}
 .mat-form-field .mat-form-field-underline {
  background-color: $BrandLightColor;
}
 .mat-form-field .mat-form-field-ripple {
  background-color: $BrandLightColor;
}
 .mat-form-field .mat-form-field-required-marker {
  color: $BrandLightColor;
}

 .mat-form-field.mat-focused .mat-form-field-label {
  color: white !important;
}
 .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: white;
}
 .mat-form-field.mat-focused .mat-form-field-required-marker {
  color: white;
}
 .mat-form-field.mat-focused .mat-input-element {
  color: white;
}

 .mat-form-field.mat-form-field-invalid .mat-input-element {
  color: $BrandDangerColor;
}
 .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: $BrandDangerColor !important;
}

  .mat-form-field.mat-form-field-invalid
  .mat-form-field-label
  .mat-form-field-required-marker {
  color: $BrandDangerColor;
}
 .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: $BrandDangerColor;
}
 */
