<div class="subpage-panel">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12 searchpage">
                <h1>
                    <strong>
                        <a name="" id="smartshop" class="" href="/smartengine" (click)="showTasks()" role="button"></a>
                    </strong>
                </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="justify-content-md-center justify-searchbar">
            <div class="searchbar">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="mat-container">
                            <mat-form-field appearance="outline" style="width:100%">
                                <mat-label>αναζήτηση στη βιβλιοθήκη..</mat-label>
                                <button matPrefix *ngIf="!search" color="primary" [routerLink]="['/smartengine/searchit']"
                                    routerLinkActive="router-link-active"
                                    mat-icon-button matSuffix aria-label="Search">
                                    <mat-icon>search</mat-icon>
                                </button>
                                <input matInput placeholder="Αγιος Ιωάννης Χρυσόστομος.." [(ngModel)]="search">
                                <!-- (click)="search? reset() : add()" -->
                                <button *ngIf="search" color="primary" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
                                    <mat-icon matSuffix>{{search? 'close': ''}}</mat-icon>
                                </button>
                                <mat-hint>πληκτρολογίστε μια λέξη</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet #routerOutlet="outlet"></router-outlet>

<!-- Όλα τα βιβλία ανα κατηγορία -->
<!-- <ng-template ngFor let-catitem [ngForOf]="category">
    <app-page-card [categories]='catitem' [products]='product'></app-page-card>
</ng-template> -->