.card-header {
  h5 {
    box-sizing: border-box;
    opacity: 0.6;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
  }
}
.example-card {
  min-width: 30%;
}

.example-header-image {
  /* background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
   */
   background-size: cover;
}
