<div class="card-toolbar">
    <mat-menu #itemMenu="matMenu">
        <button mat-menu-item matTooltip="{{mitems.desc}}" *ngFor="let mitems of MenuTools">{{mitems.title}}</button>
    </mat-menu>

    <mat-menu #actionMenu="matMenu">
        <button mat-menu-item matTooltip="{{mitems.desc}}" *ngFor="let mitems of ActionBtn">{{mitems.title}}</button>
    </mat-menu>

    <mat-menu restoreFocus="true" #columnsMenu="matMenu">
        <li *ngFor="let item of btnCheckboxCol" mat-menu-item role="menuitemcheckbox" 
            class="">
            <mat-checkbox [(ngModel)]="item.checked" (ngModelChange)="setTableColumns(item)">{{item.tbcolumn}}</mat-checkbox>
        </li>
    </mat-menu>

    <button mat-button class="first-child" [matMenuTriggerFor]="itemMenu">
        <mat-icon>more_vert</mat-icon>
        Menu
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
            
    <button mat-button [matMenuTriggerFor]="actionMenu">
        <mat-icon>menu</mat-icon>
        Actions
        <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <button mat-button>
        <mat-icon>add</mat-icon>
        Create manual order
    </button>

    <button mat-button>
        <mat-icon>filter_list</mat-icon>
        Filters
    </button>

    <button mat-button [matMenuTriggerFor]="columnsMenu">
        <mat-icon>view_week</mat-icon>
        Columns
    </button>

    <button mat-button>
        <i class="fa fa-tags" aria-hidden="true"></i>
        Tags
        <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        <div class="row">
                            <div class="col">
                                <div class="d-flex md-form form-group mt-0">
                                    <div class="disabled clearfix d-none d-md-block pt-2 ml-4">
                                        <i class="fas fa-laptop text-primary mr-2"></i>
                                        <span class="text-primary font-weight-bold mr-4">Show From</span>
                                        <i class="fas fa-database text-primary mr-2 ml-4 mr-2"></i>
                                        <span class="text-primary ml-2">Data Source URI</span>
                                    </div>
                                    <a  class="navbar-btn waves-effect waves-light ml-auto px-3 pt-2">
                                    <button  class="btn btn-outline-primary btn-sm mb-2 ml-3" type="submit">
                                        <i class="fas fa-pencil-alt    fa-lg"></i>
                                    
                                    </button><button  class="btn btn-outline-primary btn-sm mb-2 ml-3" type="submit">
                                    <i  class="fas fa-save fa-lg"></i>
                                    </button>
                                    <button  class="btn btn-outline-primary btn-sm mb-2 ml-3" type="submit">
                                    <i  class="fas fa-copy fa-lg"></i>
                                    </button><button  class="btn btn-outline-primary btn-sm mb-2 ml-3" type="submit" disabled="">
                                    <i  class="fas fa-trash-alt fa-lg"></i>
                                    </button></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-8">
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label class="text-info" for="id">Id</label>
                                            <input class="text-info form-control ng-untouched ng-pristine ng-valid" formcontrolname="id" id="id" placeholder="" readonly="" type="text">
                                        </div>
                                        <div class="form-group col-md-10">
                                            <label class="text-primary font-weight-bold" for="name">Name</label>
                                            <input class="text-primary form-control font-weight-bold ng-pristine ng-valid ng-touched" formcontrolname="name" id="name" placeholder="" type="text"><!----></div>
                                        </div><div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label class="text-primary" for="fileName">File Name</label>
                                                <input class="text-primary form-control ng-pristine ng-valid ng-touched" formcontrolname="fileName" id="fileName" placeholder="" type="text">
                                            </div></div><div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label class="text-primary" for="releaseDate">Release Date</label>
                                                    <input class="text-primary form-control ng-pristine ng-valid ng-touched" formcontrolname="releaseDate" id="releaseDate" placeholder="" type="text">
                                                </div></div><div class="form-row">
                                                    <div class="form-group col-md-2">
                                                        <div class="form-check">
                                                        <input class="form-check-input ng-untouched ng-pristine ng-valid" formcontrolname="show" id="show" type="checkbox"><label class="form-check-label" for="show"> show </label>
                                                    </div></div></div><div class="form-row">
                                                        <div class="form-group col-md-2"><div class="form-check">
                                                            <input class="form-check-input ng-untouched ng-pristine ng-valid" formcontrolname="movie" id="movie" type="checkbox"><label class="form-check-label" for="movie"> movie </label>
                                                        </div></div></div><div class="form-row">
                                                            <div class="form-group col-md-12"><label class="text-success" for="wikipediaLink">wikipedia</label>
                                                                <div class="input-group"><div class="input-group-prepend">
                                                                    <span class="input-group-text" id="wikipediaLinkGroupPrepend">
                                                                        <a href="https://en.wikipedia.org/wiki/"><i class="text-success fab fa-wikipedia-w"></i>
                                                                        </a></span></div><input aria-describedby="wikipediaLinkGroupPrepend" class="text-success form-control ng-pristine ng-valid ng-touched" formcontrolname="wikipediaLink" id="wikipediaLink" placeholder="" type="text">
                                                                    </div></div></div></div><div class="col-4">
                                                                        <div class="form-row">
                                                                            <div class="form-group col-md-12"><!----><img class="img-fluid fit shadow-lg rounded" src="https://api.ganatan.org/shows/img/Modern_Love_(TV_series)-001.jpg">
                                                                </div></div></div></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>